@media screen and (max-width: 3400px) {
	small {
		font-size: 16px;
		font-weight: 580;
	}
	.raythorneBilling, .vtlabsBilling {
		width: 16px;
		height: 16px;
	}
	#raythorneBillingContainer {
		margin-left: 22.5px;
	}
	#vtlabsBillingContainer {
		margin-left: 30px;
	}
	#first_row_container {
		height: 164px;
		padding: 10px;
		padding-top: 4px;
		border: 1px solid #ECF0F1;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	}
	#contaner_heading, #kpi_containers {
		font-size: 1.3vw;
	}
	#contaner_heading .align-items-center, #kpi_containers .align-items-center {
		margin-top: 16px;
	}
	#total_container {
		height: 164px;
		padding: 10px;
		padding-top: 4px;
		border: 1px solid #ECF0F1;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	}
	#total_text {
		font-size: 1vw;
		font-weight: bold;
		border: none !important;
		background: none !important;
	}
	.total_amount {
		font-size: 2.5vw;
		font-weight: 600;
		/*margin-top: 20px;*/
	}
	#total_inner {
		padding-top: 40px;
	}
	#orange, #blue, #red, #green, .legend_color {
		width: 26px;
		height: 26px;
		border: none;
	}
	.custom_legends .row {
		margin-top: 10px;
	}
	/*.custom_legends .row:nth-child(1) {
		margin-top: 0px;
	}*/
	.custom_legends .row:hover {
		cursor: pointer;
	}
	.custom_legends .row div:nth-child(2) {
		width: 194px;
		height: 26px;
		padding-left: 10px;
		padding-top: 2px;
		font-size: 14px;
		font-weight: bold;
	}
	.custom_legends {
		display: flex;
		align-items: center;
		height: 100%;
	}
	#chart_outer_container {
		padding: 0px;
	}
	#chart_container {
		margin-top: 15px;
	}
	#chart_container {
		padding: 10px;
		padding-top: 4px;
		border: 1px solid #ECF0F1;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	}
	.submit_button {
		background: #154360;
		color: white;
		opacity: 0.9;
		padding: 3px 18px;
	}
	.submit_button:hover {
		color: white;
		opacity: 1;
	}
	#close_custom_date:hover {
		cursor: pointer;
	}
	/*.vendorsListClass .bootstrap-select .dropdown-menu {
		max-width: 100%;
		z-index: 100;
	}*/
	#left_6 .row .col-md-6 {
		padding: 0px;
		padding-right: 15px;
	}
	#left_6 .row .col-md-6 div:nth-child(1) {
		border: 1px solid #ECF0F1;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; padding: 15px;
	}
	
	#left_6 .row .col-md-6:nth-child(1) {
		padding-right: 30px;
	}
	#left_6 .row .col-md-6:nth-child(2) {
		padding-left: 0px;
	}
	
	#right_6 .row .col-md-6 div:nth-child(1) {
		border: 1px solid #ECF0F1;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	}
	#right_6 .row .col-md-6:nth-child(1) {
		padding-right: 7.5px;
	}
	#right_6 .row .col-md-6:nth-child(2) {
		padding: 0px;
		padding-left: 22.5px;
	}
	#kpi_containers {
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		border-radius: 3px;
	}
	#kpi_containers a {
		color: black;
	}
	#kpi_containers a:hover {
		text-decoration: none;
	}
	#kpi_outer_containers {
		margin-top: 15px;
		padding: 0px;
	}
	#kpi_outer_containers:nth-child(1) {
		padding-right: 15px;
	}
	#kpi_outer_containers:nth-child(2) {
		padding-left: 15px;
		padding-right: 15px;
	}
	#kpi_outer_containers:nth-child(3) {
		padding-left: 15px;
		padding-right: 15px;
	}
	#kpi_outer_containers:nth-child(4) {
		padding-left: 15px;
	}
	#vendorsCanvasIcons {
		position:absolute;
		top:4px;
		right:0px;
		font-size: 22px;
		color:#154360;
	}
	#vendorsCanvasIcons span:nth-child(1):hover {
		cursor: default;
		background: none;
	}
	#vendorsCanvasIcons span:nth-child(2):hover {
		cursor: pointer;
		background: #ECF0F1;
	}
}
@media screen and (max-width: 1500px) {
	#vendorsCanvasIcons {
		top:4px;
		font-size: 20px;
	}

	.custom_legends .row div:nth-child(2) {
		width: 130px;
	}

	.custom_legends .legend_value{
		width: 194px !important;
	}

	.custom_legends .legend_body {
    	font-size: 10px;
		padding-left: 0px;
    }

    .legend_color {
		width: 18px;
		height: 18px;
	}

	.custom_legends .row.legend_body {
		margin: 0px;
		margin-top: 0px;
		margin-left: 10px;
	}
}
/*@media only screen and (max-width: 1301px) and (min-width: 1199px) {

	.custom_legends .legend_value{
		width: 168px !important;
	}
}*/
@media screen and (max-width: 1198px) {
	small {
		font-size: 15px;
	}
	#raythorneBillingContainer {
		margin-left: 20px;
	}
	#vtlabsBillingContainer {
		margin-left: 12px;
	}
	#orange, #blue, #red, #green {
		width: 22px;
		height: 22px;
		border: none;
	}

	.legend_color {
		width: 18px;
		height: 18px;
	}
	.custom_legends .row.legend_body {
		margin: -2px;
	}
	.custom_legends .row div:nth-child(2) {
		height: 22px;
		padding-top: 1px;
		font-size: 12px;
	}
	#first_row_container {
		height: auto;
	}
	#total_container {
		height: auto;
	}
	#contaner_heading, #kpi_containers {
		font-size: 1.4vw;
	}
	#vendorsCanvasIcons {
		top:3px;
		font-size: 19px;
	}
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
	#contaner_heading, #kpi_containers {
		font-size: 1.7vw;
	}
	#total_text {
		font-size: 1.2vw;
	}
	.total_amount {
		font-size: 2.2vw;
	}
	#left_6 .row .col-md-6:nth-child(1) {
		padding-right: 15px;
	}
	#left_6 .row .col-md-6:nth-child(2) {
		padding-left: 15px;
		padding-right: 0px;
	}
	#right_6 .row .col-md-6:nth-child(1) {
		padding: 0px;
		padding-right: 15px;
	}
	#right_6 .row .col-md-6:nth-child(2) {
		padding: 0px;
		padding-left: 15px;
	}
}
@media screen and (max-width: 767px) {
	#orange, #blue {
		width: 18px;
		height: 18px;
		border: none;
	}
	#contaner_heading, #kpi_containers {
		font-size: 3.2vw;
	}
	#total_container {
		margin-top: 15px;
	}
	#total_text {
		font-size: 2.5vw;
	}
	.total_amount {
		font-size: 6vw;
	}
	#left_6 .row .col-md-6:nth-child(1) {
		padding: 0px;
	}
	#left_6 .row .col-md-6:nth-child(2) {
		margin-top: 8px;
		padding: 0px;
	}
	#right_6 .row .col-md-6:nth-child(1) {
		padding: 0px;
	}
	#right_6 .row .col-md-6:nth-child(2) {
		margin-top: 8px;
		padding: 0px;
	}
	
	#kpi_outer_containers:nth-child(1) {
		padding-right: 0px;
	}
	#kpi_outer_containers:nth-child(2) {
		padding-left: 0px;
		padding-right: 0px;
	}
	#kpi_outer_containers:nth-child(3) {
		padding-left: 0px;
		padding-right: 0px;
	}
	#kpi_outer_containers:nth-child(4) {
		padding-left: 0px;
	}
}
@media screen and (max-width: 550px) {
	#total_text {
		font-size: 3vw;
	}
	.total_amount {
		font-size: 8vw;
	}
	#contaner_heading, #kpi_containers {
		font-size: 4vw;
	}
}