@media only screen and (max-width: 3400px)  {
	.link_active {
		background: #FC9C10;
	}
	.link_active span, .link_active i{
		color: white;
	}
	#vt_logo {
		width: 180px; 
		float: left; 
		text-align: center;
	}
	#logo_heading {
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 600;
	}
	#open_icon, #close_icon {
		float: right; 
		padding-top: 17px; 
		font-size: 18px; 
		cursor:pointer;
		margin-right: -5px;
	}
	#open_icon #arrow, #close_icon #arrow {
		color:#FC9C10; 
		margin-left: 2px;
	}
	#disable_close_icon {
		float: right; 
		padding-top: 17px; 
		font-size: 18px; 
		margin-right: -5px;
		color: #7B7D7D;
	}
	#disable_close_icon #arrow {
		color:#ff4d4d; 
		margin-left: 2px;
	}
	#navbar {
		box-shadow: 0px 0px 8px 0px #7B7D7D;
		min-width: 380px;
		padding:0px;
		height: 68px;
		padding-top: 10px;
		z-index: 10;
		background: #ECF0F6;
	}
	#navbar_top_layout {
		width: 100%;
	}
	#navbar_top_layout_left {
		width: 249px;
		z-index: 100;
		box-shadow:  1.5px 0px 0px 0px #B3B6B7; 
		/*box-shadow:  3px 0px 0px 0px rgba(0,0,0,0.2); */
		float: left;
		margin-top: -12px;
		padding-left: 15px;
		padding-right: 10px;
		padding-top: 4px;
		height: 65px;
	}
	#navbar_top_layout_left a {
		color: #1A5276; 
		font-size: 34px;
		text-decoration: none;
	}
	#heading {
		float: left; 
		margin-left: 15px; 
		font-size: 36px; 
		font-weight: 550; 
		margin-top: -4px;
	}
	#navbar_top_layout_right {
		width: 250px;
		height: 48px;
		background: transparent;
		position: relative;
		z-index: 100;
		margin-right: 50px;
		margin-top: -3px;
	}
	#navbar_top_layout_right_display_name {
		width: 200px;
		color:#154360;
		font-size: 16px; 
		margin-top: 13px;
		margin-right: 10px;
	}
	#signout_layout {
		margin-left: -70px;
		/*z-index: 1000;*/
		width: 360px; 
		height: 100%;
	}
	#signout_image_layout {
		width: 48px;
		height: 48px;
		border-radius: 100%;
	}
	#signout_image_layout img {
		width: 100%;
		border-radius: 100%;	
		padding: 2px;
		background: #D0D3D4;
	}
	#signout_dropdown {
		width: 100px;
		margin-top: 56px; 
		margin-left: 98px;
	}
	.sideNavbar {
	  	height: 100%;
	  	width: 250px;
	  	position: fixed;
	  	z-index: 1;
	  	top: 0;
	  	left: 0;
	  	transition: 0.3s;
	  	border-right: 2px solid #D0D3D4;
	  	/*box-shadow:  4px 0px 0px 0px rgba(123,212,111,0.2); */
	  	/*box-shadow: rgba(17, 17, 26, 0.2) 0px 8px 24px, rgba(2, 2, 5, 0.2) 0px 16px 56px;*/
	  	/*rgba(17, 17, 26, 0.1) 0px 24px 80px;*/
	  	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px;
	  	margin-top: 68px;
	  	padding-top: 2px;
	  	background: #FDFEFE;
	  	z-index: 2;
	}
	.sideNavbar a {
	  padding: 10px 8px 10px 18px;
	  text-decoration: none;
	  font-size: 16px;
	  color: #154360;
	  display: block;
	  transition: 0.3s;
	  height: 45px;
	  margin-top: 4px;
	}
	.sideNavbar a:hover {
	  color: #F7F9F9;
	  background: #FC960A;
	  text-decoration: none;
	}
	.sideNavbar a:hover #bydefault_svg{
		display: none;
	}
	.sideNavbar a:hover #hover_svg{
		display: inline-block;
	}
	#signout {
		margin-right: 5px; 
		margin-top: 12px; 
		float: right; 
		cursor: pointer;
	}
	#bydefault_svg {
		width: 30px;
		margin-right: 8px;
	}
	#hover_svg {
		width: 30px;
		margin-right: 8px;
		display: none;
	}
	#manage_chartof_account #bydefault_svg, #manage_chartof_account #hover_svg {
		width: 22px;
		margin-right: 10px;
		margin-top: -2px;
	}
	#account_type #bydefault_svg, #account_type #hover_svg {
		width: 21px;
		margin-right: 4px;
		padding-top: 0px;
		margin-top: -1px;
	}
	#vouchers #bydefault_svg, #vouchers #hover_svg {
		width: 21px;
		margin-right: 4px;
		padding-top: 0px;
		margin-top: -1px;
	}

	#dashboard #bydefault_svg, #dashboard #hover_svg {
		width: 26px;
		margin-right: 10px;
		margin-top: -2px;
	}
	#dashboardtarget #bydefault_svg, #dashboardtarget #hover_svg {
		width: 26px;
		margin-right: 10px;
		margin-top: -2px;
	}
	#target #bydefault_svg, #target #hover_svg {
		width: 26px;
		margin-right: 10px;
		margin-top: -2px;
	}
	#demands #bydefault_svg, #demands #hover_svg {
		width: 26px;
		margin-right: 10px;
		margin-top: -2px;
	}
	#quotations #bydefault_svg, #quotations #hover_svg {
		width: 20px;
		margin-right: 14px;
		margin-top: -2px;
	}
	#purchases #bydefault_svg, #purchases #hover_svg {
		width: 20px;
		margin-right: 14px;
		margin-top: -2px;
	}
	#invoices #bydefault_svg, #invoices #hover_svg {
		width: 20px;
		margin-right: 14px;
		margin-top: -2px;
	}
	/* #purchase_orders #bydefault_svg, #purchase_orders #hover_svg {
		width: 22px;
		margin-right: 14px;
		margin-top: -2px;
	}
	#prfs #bydefault_svg, #prfs #hover_svg {
		width: 22px;
		margin-right: 14px;
		margin-top: -2px;
	}
	#orders #bydefault_svg, #orders #hover_svg {
		width: 23px;
		margin-right: 14px;
		margin-top: -2px;
	} */
	#vendors #bydefault_svg, #vendors #hover_svg, #clients #bydefault_svg, #clients #hover_svg {
		width: 24px;
		margin-right: 14px;
		margin-top: -2px;
	}
	#manage_items #bydefault_svg, #manage_items #hover_svg {
		width: 24px;
		margin-right: 14px;
		margin-top: -2px;
	}
	#new_item {
		padding-top: 0px;
	}
	#new_item #bydefault_svg, #new_item #hover_svg {
		width: 21px;
		margin-right: 4px;
		padding-top: 0px;
		margin-top: -1px;
	}

	#brands #bydefault_svg, #brands #hover_svg {
		width: 21px;
		margin-right: 4px;
		padding-top: 0px;
		margin-top: -1px;
	}
	#models #bydefault_svg, #models #hover_svg {
		width: 21px;
		margin-right: 4px;
		padding-top: 0px;
		margin-top: -1px;
	}
	/* #history #bydefault_svg, #history #hover_svg {
		width: 20px;
		margin-right: 4px;
		padding-top: 0px;
		margin-top: -2px;
	}
	#issue_items #bydefault_svg, #issue_items #hover_svg {
		width: 21px;
		margin-right: 4px;
		padding-top: 0px;
		margin-top: -1px;
	}
	#receive_items #bydefault_svg, #receive_items #hover_svg {
		width: 21px;
		margin-right: 4px;
		padding-top: 0px;
		margin-top: -1px;
	} */
	#permissions #bydefault_svg, #permissions #hover_svg {
		width: 24px;
		margin-right: 14px;
		margin-top: -2px;
	}
	#service a {
		padding-top: 10px;
		font-size: 16.5px;
		margin-top: 4px;
	}
	#additionals #bydefault_svg, #additionals #hover_svg {
		width: 24px;
		margin-right: 14px;
		margin-top: 0px;
	}
	#reports #bydefault_svg, #reports #hover_svg {
		width: 20px;
		margin-right: 4px;
		padding-top: 0px;
		margin-top: -2px;
	}
	#budgets #bydefault_svg, #budgets #hover_svg {
		width: 20px;
		margin-right: 4px;
		padding-top: 0px;
		margin-top: -2px;
	}
	#conversion_rate #bydefault_svg, #conversion_rate #hover_svg {
		width: 20px;
		margin-right: 4px;
		padding-top: 0px;
		margin-top: -2px;
	}
	#projects #bydefault_svg, #projects #hover_svg {
		width: 20px;
		margin-right: 4px;
		padding-top: 0px;
		margin-top: -2px;
	}
	#teams #bydefault_svg, #teams #hover_svg {
		width: 20px;
		margin-right: 4px;
		padding-top: 0px;
		margin-top: -2px;
	}
	#resources #bydefault_svg, #resources #hover_svg {
		width: 20px;
		margin-right: 4px;
		padding-top: 0px;
		margin-top: -2px;
	}

	/*Custom Checkbox Switch in NavBar*/
	.visit-mode {
		position: absolute; 
		bottom: 10px; 
		left: 0px; 
		z-index: 10; 
		height: 100px; 
		width: 100%; 
		padding: 0px 18px;
		background: white;
	}

	.switch-module {
		padding: 0px 18px;
		width: 100%; 
		position: absolute; 
		bottom: 110px;
		left: 0px; 
		z-index: 100;
	}


	.custom-switch {
	    width: 45px;
	}
	.visit-mode .custom-switch.custom-switch-lg .custom-control-label {
	    padding-left: 2rem;
	    padding-bottom: 1.5rem;
	}
	.visit-mode .custom-switch.custom-switch-lg .custom-control-label::before {
	    height: 1.5rem;
	    width: calc(2rem + 0.75rem);
	    border-radius: 3rem;
	}
	.visit-mode .custom-switch.custom-switch-lg .custom-control-label::after {
	    width: calc(1.5rem - 4px);
	    height: calc(1.5rem - 4px);
	    border-radius: calc(2rem - (1.5rem / 2));
	}

	.custom-switch.custom-switch-lg .custom-control-label {
	    padding-left: 0rem;
	    padding-bottom: 1.5rem;
	}
	.custom-switch.custom-switch-lg .custom-control-label::before {
	    height: 1.5rem;
	    width: calc(2rem + 0.75rem);
	    border-radius: 3rem;
	}
	.custom-switch.custom-switch-lg .custom-control-label::after {
	    width: calc(1.5rem - 4px);
	    height: calc(1.5rem - 4px);
	    border-radius: calc(2rem - (1.5rem / 2));
	}
	

	.custom-switch.custom-switch-lg .custom-control-label:hover {
	    cursor: pointer;
	}

	.custom-switch.custom-switch-lg .custom-control-input:checked ~ .custom-control-label::after {
	    transform: translateX(calc(1.5rem - 0.25rem));
	}




	.switch-module-container {
/*		border:1px solid #FC9C10;*/
		width: 120px;
		text-align: center;

		position: absolute;
		top: 75px;
		right: 0px;
	}

	.switch-module-container:hover {
		cursor: pointer;
	}
}


@media only screen and (max-width: 2000px)  {
	#heading {
		margin-top: 0px; 
		font-size: 30px
	}
}
@media only screen and (max-width: 1300px)  {
	#heading {
		margin-top: 5px; 
		font-size: 25px; 
	}
}
@media only screen and (max-width: 992px)  {
	#heading {
		margin-top: 5px; 
		font-size: 22px; 
	}
}
@media only screen and (max-width: 768px)  {
	#heading {
		display: none;
	}
}
@media only screen and (max-width: 600px)  {
	#navbar_top_layout_left a {
		font-size: 30px;
	}
	#navbar_top_layout_right {
		width: 230px;
	}
	#navbar_top_layout_right_display_name {
		width: 180px;
		font-size: 14px; 
		margin-top: 14px;
	}
	#signout_image_layout {
		width: 48px;
		height: 48px;
	}
	#signout_image_layout img {
		width: 48px;
		border: 1px solid #D0D3D4; 
		border-radius: 25px;	
		padding-bottom: 3px;
		padding-top: 3px;
	}
}
@media screen and (max-height: 675px) {
	#inner_sideNavbar {
		height: 525px; 
		overflow-y: auto;
	}
}
@media screen and (max-height: 600px) {
	#inner_sideNavbar {
		height: 450px; 
		overflow-y: auto;
	}
}
@media screen and (max-height: 550px) {
	#inner_sideNavbar {
		height: 400px; 
		overflow-y: auto;
	}
}
@media screen and (max-height: 500px) {
	#inner_sideNavbar {
		height: 360px; 
		overflow-y: auto;
	}
}
@media screen and (max-height: 450px) {
	#inner_sideNavbar {
		height: 330px; 
		overflow-y: auto;
	}
}
@media screen and (max-height: 400px) {
	#inner_sideNavbar {
		height: 305px; 
		overflow-y: auto;
	}
}
@media screen and (max-height: 375px) {
	#inner_sideNavbar {
		height: 275px; 
		overflow-y: auto;
	}
}
@media screen and (max-height: 350px) {
	#inner_sideNavbar {
		height: 250px; 
		overflow-y: auto;
	}
}
@media screen and (max-height: 325px) {
	#inner_sideNavbar {
		height: 225px; 
		overflow-y: auto;
	}
}
@media screen and (max-height: 300px) {
	#inner_sideNavbar {
		height: 200px; 
		overflow-y: auto;
	}
}